#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 10px; 
  margin-bottom: 10px; 
}

form {
  display: flex;
  align-items: center;
  gap: 10px; 
  width: 100%;
}


label {
  display: flex;
  align-items: center;
  gap: 10px; 
  width: 100%; 
}


input[type="text"]{
  width: 100%;
  max-width: 250px; 
  padding: 5px;
  margin: 0;
}

.add-button{
  width: 30%;
}


button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Button container to align buttons to the right */
button + button {
  margin-left: 10px;
}
